.oxygen-sign-in-title-section {
    .oxygen-sign-in-header {
        margin-bottom: 16px;
      }

      .oxygen-sign-in-sub-header {
        color: grey;
      }
      padding: 0 6px;
      margin-bottom: 32px;
    }