.asgardeo-sign-in {
    max-width: 500px;
}

.product-logo img {
    max-width: 4rem;
  }

  .product-logo {
    display: flex;
    justify-content: center;
  }
  .footer {
    &.fixed{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    padding: 14px;
    border-top: 16px;

    .seperator {
        background-color: #535c65;
        width: 6px;
        height: 6px;
        border-radius: 1em;
        align-self: center;
        margin: 0 2px;
    }

    .ui.text.menu {
        margin: 0;
        line-height: 1rem;

        .item {
            color: grey;
            padding: 0 10px;

            &.no-hover {
                cursor: auto;
            }
            &:not(.no-hover) {
                &:hover {
                    color: blue;
                    text-decoration: underline;
                }
            }
        }
    }

    .copyright-text {
        text-align: center;
    }

  
}

  