footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 245, 245);
  box-shadow: 0 2px 4px rgba(255, 4, 4, 0.8);
  padding: 20px 0;

  p {
    font-size: small;
    padding: 0;
    line-height: normal;
    margin: 0;
  }
}
